body
{
  margin: 0;
  padding: 0;
}
body img
{
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*
     FILE ARCHIVED ON 03:53:27 May 13, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:32:52 Mar 23, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 202.286 (3)
  esindex: 0.01
  captures_list: 219.024
  CDXLines.iter: 12.009 (3)
  PetaboxLoader3.datanode: 324.92 (5)
  exclusion.robots: 0.2
  exclusion.robots.policy: 0.185
  RedisCDXSource: 1.6
  PetaboxLoader3.resolve: 132.565 (2)
  load_resource: 299.346
*/